/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.roundButton {
  &__content {
    margin-top: 10px;
    background-color: $sub-color;
    width: 300px !important;
    height: 60px !important;
    border: 0px !important ;
    border-radius: 75px !important;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        font-size: 2rem;
      }

      &__text {
        margin-left: 7px;
        font-size: 1rem;
      }
    }
  }
}
