/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

.signUp {
  &__content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__button {
        background-color: $sub-color !important;
      }

      &__buttonF {
        background-color: #3b5998 !important;
      }

      &__text {
        color: $dark-gray;
      }

      &__textF {
        color: white;
      }

      &__iconF {
        color: white;
        font-size: 2rem;
      }

      &__icon {
        color: $dark-gray;
        font-size: 2rem;
      }

      &__input {
        width: 550px;
      }
    }
  }
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
