/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

@import "Colors";
@import "./Pages/index";
@import "./Components/index";

body {
  margin: 0 auto;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray;
  opacity: 1;
  /* Firefox */
}
